*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#main-header {
    background: #000;
    color: #fff;
}
#main-header-top {
    padding: 0 20px;
}
#main-header a {
    color: #fff;
    text-decoration: none;
    display: flex;
}
#main-header img {
    margin-right: 10px;
    padding: 10px 0 0 0;
}
#main-nav {
    background: #73000a;
}
#main-nav ul {
    list-style-type: none;
}
#main-nav li {
    padding: 10px;
    font-size: 16px;
}

#main-content {
    padding: 20px;
}

.col4of5 {
    flex-basis: 75%;
}

.col1of5 {
    flex-basis: 20%;
}

.sc-article {
    margin: 20px 0;
    border-bottom: 1px solid grey;
}

.sc-article img {
    margin-right: 20px;
}

#banner {
    display: flex;
    justify-content: center;
}
#banner img {
    width: 100%;
    height: auto;
}

#social-media img {
    float:right;
    margin-left: 10px;
}

#main-footer-top img {
    float:right;
}

h2 {
    color:#73000a;
    font-size: 35px;
}

#main-footer {
    background: #73000a;
    color: #fff;
}
#main-footer-top {
    padding: 0 20px;
}
#main-footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
}
#main-footer img {
    margin-right: 10px;
    padding: 10px 0 0 0;
}

.above-line{
    flex-basis: 40%;
}
.above-line2{
    flex-basis: 30%;
}
.above-line3{
    flex-basis: 20%;
}
.col1o3 {
    flex-basis: 10%;
}
.col2o3 {
    flex-basis: 10%;
}
.col3o3 {
    flex-basis: 10%;
}
.col1o3 li,.col2o3 li,.col3o3 li {
    list-style-type: none;
}

#main-nav-bottom {
    background: #000;
    padding:10px;
}
#main-nav-bottom ul {
    list-style-type: none;
}
#main-nav-bottom li {
    padding: 10px;
    font-size: 16px;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
#hamburger {
    display:none;
    padding: 10px 0;
}

.hidden {
    display: none;
}





@media (min-width:600px) {
    #main-nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    #main-content-jr {
        display: flex;
        justify-content: space-between;
    }

    .sc-article {
        display: flex;
        justify-content: space-between;
    }

    #social-media {
        display: flex;
    }

    #bottom-content {
        display: flex;
        justify-content: space-between;
    }

    .above-line,.above-line2,.above-line3  {
        display: flex;
        justify-content: space-between;
    }

    #main-nav-bottom ul {
        display: flex;
        justify-content: space-evenly;
    }
}

@media all and (max-width:600px){
    #main-nav ul {
        flex-direction:column;
    }

    #main-nav ul li {
        text-align:center;
    }

    /* only want hamburger menu to show on phone */
    #hamburger {
        display: block;
    }
}
