html, body, #outter {
    height: 100%; 
    /* this is so you can see the whole page that you're centering in */

}
#outter {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
}
#beach {
    background: royalblue;
    width: 40%;
    padding: 20px 10px 10px 30px;
    border-radius: 10%;
}
h1 {
    text-align: center;
}
#total {
    font-weight: bold;
}